---
   - name: Install mysql database
     dnf: 
      name: "{{ item }}"
      state: present 
     with_items:
         - mariadb-server
         - mariadb
   - name: start mysql database
     service: 
        name: mariadb
        state: started   
        enabled: true
   - name: Install PyMySQL driver
     ansible.builtin.pip:
        name: PyMySQL
        executable: pip3
   - name: create application database
     mysql_db:
        name: "{{ db_name }}"
        state: present 
        login_unix_socket: /var/lib/mysql/mysql.sock
   - name: create database user
     mysql_user: 
        name: "{{ db_user }}"
        password: "{{ db_user_password }}"
        priv: "*employee_db.*:ALL"
        state: present
        host: '%'
        login_unix_socket: /var/lib/mysql/mysql.sock
